body {
  background-color: hsl(0, 0%, 100%);
  font-family: 'calibri';
  font-size: 11;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 50px;
}

#navbar {
  background-color: #e3ecf1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
  box-sizing: border-box;
}

#instructions {
  margin-top: 80px;
  padding: 5px;
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 50px;
  z-index: 1000;
}

#container {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'calibri';
  font-size: 9;
  width: 95%;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right:20px;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  align-items: center;
}

#labLogo {
  max-width: 16%;
  height: auto;
  margin-top: 20px;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10%; /* Center the timer containers */
}

.timer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.timer {
  margin-bottom: 10px;
}

#buttonsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

#nextMouseBtn,
#downloadDataBtn,
#copyTableBtn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  font-family: 'calibri';
  font-size: 9;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  font-family: 'calibri';
  font-size: 9;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.running {
  color: red;
}

.editable {
  cursor: pointer;
  padding: 4px;
}

.editable:hover {
  background-color: #f4f4f4;
}

.editable input {
  border: none;
  outline: none;
  width: 100%;
}




  