
    body {
      background-color: hsl(233, 24%, 93%);
      font-family: Arial, sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      overflow-x: hidden;
    }

    #navbar {
      background-color: #b8e0f4;
      overflow-x: hidden;
      padding: 10px;
      width: 100%;
      margin: 0;
      display:inline;
    }

    h2 {
      margin-bottom: 5px; /* Adjust the margin as needed */
    }
  
    p {
      margin-top: 5px;
      margin-bottom: 5px; /* Adjust the margin as needed */
    }

    #container {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 80vh; /* Adjust the maximum height as needed */
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    #labLogo {
      max-width: 16%; /* Adjust the percentage to control the size */
      height: auto;
      margin-top: 20px;
    }

    .timer-container {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-top: 40px;
    }

    .timer-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
    }

    .timer {
      margin-bottom: 10px;
    }

    #buttonsContainer {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      gap: 15px;
    }

    #nextMouseBtn,
    #downloadDataBtn,
    #copyTableBtn {
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    table {
      border-collapse: collapse;
      width: 95%;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto; /* Center-align the table horizontally */

    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .running {
      color: red;
    }

    .editable {
      cursor: pointer;
      padding: 4px;
    }

    .editable:hover {
      background-color: #f4f4f4;
    }

    .editable input {
      border: none;
      outline: none;
      width: 100%;
    }
  